.skinny-ninjah-contact-form {
    padding: 100px 0 50px;
    position: relative;
    margin: 0 auto;
    max-width: 720px;

    &:before {
        content: "";
        width: 50px;
        height: 50px;
        background-image: url(/wp-content/themes/skinny-ninjah/src/images/paper-plane.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        top: 30px;
        right: 47%;
        filter: grayscale(60%);
        -webkit-filter: grayscale(60%);
    }

    .form-error-msg {

        display: none;
    }

    .uk-form-danger {
        .form-error-msg {
            display: block;
        }
    }

    .js-show-feedback {
        display: block;
    }

    .ninjah-input {
        border: none;
        border-bottom: 1px solid;
        border-color: inherit;
        padding: 8px 15px;
        outline: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .ninjah-button {
        @include animate( all, 320ms );
        background-color: #656565;
        color: $color_white;
        text-transform: capitalize;
        font-weight: lighter;
        border: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;

        &:hover, &:focus {
            background-color: black;
            color: $color_white;

        }

    }

}