/** Admin */
.sn-general-form, .sn-sidebar-preview {
    display: inline-blg; float: left;
}

.sn-sidebar-preview {
    width: 280px;
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

h1.sn-username, h2.sn-description {
    font-weight: 100;
    color: #fff;
}

h1.sn-username {
    font-size: 24px;
    margin: 0 0 10px;
}

h2.sn-description {
    font-size: 13px;
    margin: 0 0 20px;
}

.image-container {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.profile-picture {
    width: 122px;
    height: 122px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-picture img {
    width: 100%;
    height: auto;
}