header#masthead {
  line-height: 40px;

  .uk-search-icon.uk-icon {
    padding: 10px;
  }

  .uk-navbar-right {
    line-height: 59px;
  }
}

.uk-sticky.uk-active {
  background: $color__link-visited;
}