.main-navigation {

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}

		span {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 0;
			transition: transform .3s;
			transform-origin: 50% 0;
			transform-style: preserve-3d;

			&:before {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				content: attr(data-hover);
				transition: color .3s;
				transform: rotateX(-90deg);
				transform-origin: 50% 0;
				text-align: center;
			}
		}

		&:hover span {
			transform: rotateX(90deg) translateY(-22px);
			color: red;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 10px;
		@include animate( all, 0.4s );
		color: $color_primary;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color_primary;
	}

	.current_page_parent a {
		background: $color_primary;
		color: $color_white;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.uk-offcanvas-overlay::before {
	background: rgba(0, 0, 0, 0.4) !important;
}