.pagination {
    a.page-numbers, span.page-numbers.current {
        border: $color__text-input 1px solid;
        margin-right: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    a.page-numbers {
        background: $color_primary;
        color: $color_white;

        &:hover {
            text-decoration: none;
        }
    }

}