#menu-social {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        padding-top: 0;

        &::before {
          content: '\f408';
          display: inline-block;
          padding: 0 5px;
          font-family: 'FontAwesome';
          font-size: 25px;
          vertical-align: middle;
          -webkit-font-smoothing: antialiased;
          background-color: transparent;
        }

        &[href*="facebook.com"]::before {
          content: '\f082';
          color: $color_white;
        }

        &[href*="twitter.com"]::before {
          content: '\f099';
          color: $color_white;
        }

        &[href*="plus.google.com"]::before {
          content: '\f0d4';
          color: #dd4c39;
        }

        &[href*="pinterest.com"]::before {
          content: '\f0d3';
          color: #c8232c;
        }

        &[href*="youtube.com"]::before {
          content: '\f167';
          color: #c4302b;
        }

        &[href*="vimeo.com"]::before {
          content: '\f194';
          color: #33ccff;
        }

        &[href*="instagram.com"]::before {
          content: '\f16d';
          color: $color_white;
        }

        &[href*="linkedin.com"]::before {
          content: '\f08c';
          color: #007fb1;
        }

        &[href*="rss.com"]::before {
          content: '\f143';
          color: #0e76a8;
        }

        &[href*="dropbox.com"]::before {
          content: '\f16b';
          color: #0e76a8;
        }

        &[href*="skype.com"]::before {
          content: '\f17e';
          color: #00aff0;
        }

        &:hover[href*="facebook.com"]::before {
          color: #3b5998;
        }

        &:hover[href*="twitter.com"]::before {
          color: #33ccff;
        }

        &:hover[href*="instagram.com"]::before {
          color: #336699;
        }
      }
    }
  }
}

.site-header #menu-social ul li a::before {
  color: $color_primary;
}