.archive.category {
  .post-thumbnail {
    position: relative;

    &:before, &:after {
      position: absolute;
      content: "";
      bottom: 15px;
      width: 50%;
      top: 80%;
      max-width: 500px;
      box-shadow: 0 15px 10px #878282;
    }

    &:before {
      left: 10px;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }

    &:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }

    a {
      overflow: hidden;
      display: block;

      img {
        position: relative;
        display: block;
        z-index: 1;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
      }
    }

    &:hover img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }

    .post-date {
      position: absolute;
      top: 10px;
      z-index: 2;
      background: #21759b91;
      padding: 3px;
      color: $color_white;
      border: 1px solid $color_primary;
    }
  }

  a.read-more-link {
    display: inline-block;
  }
}