.footer-wrapper {
    width: 100%;
    @media only screen and (min-width: 640px) {
      position: fixed;
      z-index: -1;
      bottom: 0;
      left: 0;
    }
    position: relative;
    z-index: 1;


  footer#colophon {
    background: $color__text-input-focus;
    position: relative;
    color: $color__border-abbr;
  }
}