/******************************
Post Formats
******************************/


article {
	margin-bottom: 50px;

	h1 {
		font-weight: 200;

		&.entry-title {
			a {
				color: $color_primary;
				font-size: 30px;
			}
		}
	}

	.entry-excerpt {
		margin: 30px 0 15px;

		&.image-caption {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0 10px;
			margin: 30px 0 0;

			p {
				margin: 20px 0;
			}
		}
	}

	.entry-footer {
		display: block;
		overflow: hidden;
		padding: 10px 5px;
	}

	.standard-featured {
		min-height: 400px;
		display: block;
		position: relative;

		&:after {
			@include animate ( background-color, 320ms );
			content: "";
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,0.15);
			box-shadow: inset 0 0 15px rgba(0,0,0,0.35);	
		}
		
		&-link {
			display: block;
			position: relative;

			&:hover, &:focus {
				.standard-featured {
					&:after{
						background-color: rgba(0,0,0,0);
					}
				}
			}

		}
	}

	// Image Format
	&.skinny-ninjah-image-format {
		.entry-header {
			height: 400px;
			color: $color_white;
			position: relative;
		}

		h1, .entry-meta {
			color: $color_white;

			a {
				color: $color_white;
			}
		}

		h1 {
			padding-top: 20px;
			
		}
	}

	// Audio Format
	&.skinny-ninjah-audio-format {
		h1 {
			&.entry-title {
				display: inline-block;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
		.entry-meta {
			display: inline-block;
		}
		.entry-content {
			margin: 0;

			iframe {
				width: 100%;
				height: 166px;
			}
		}
	}

	// Video Format 
	&.skinny-ninjah-video-format {
		.entry-content {
			margin: 0;
		}

		.entry-header {
			margin-top: 40px;
		}

		h1.entry-title {
			margin-top: 0;
		}

		.entry-excerpt {
			margin: 20px 0 15px;
		}

		iframe {
			width: 100%; 
		}
	}

	//Gallery Post Format 
	&.skinny-ninjah-gallery-format {
		.standard-featured {
			min-height: 400px;

			&:after {
				background-color: transparent;
			}
		}
		h1.entry-title {
			margin-top: 0;
		}
		.entry-excerpt {
			margin: 0px 0 15px;
		}

		.image-caption {
			margin-bottom: 0;
		}

		.uk-slidenav {
			background: none;
			opacity: 1;
			background-image: none;
			filter: alpha(opacity=100);
			-webkit-filter: alpha(opacity=100);
			padding: 0;
			margin: 0;

			.preview-container {
				position: relative;
				display: block;
				padding: 20px;
				background-color: rgba(0,0,0,0);
				@include animate( background-color, 320ms );

				.thumbnail-container {
					position: absolute;
					display: block;
					height: 64px;
					width: 64px;
					top: 0;
					background: grey;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-ms-border-radius: 50%;
					-o-border-radius: 50%;
					@include animate( transform, 320ms );
					@include transform( scale(0))
				}
			}

			&.uk-slidenav-next {
				.preview-container {
					padding-left: 80px;
					border-radius: 35.5px 0 0 35.5px;
					-webkit-border-radius: 35.5px 0 0 35.5px;
					-moz-border-radius: 35.5px 0 0 35.5px;
					-ms-border-radius: 35.5px 0 0 35.5px;
					-o-border-radius: 35.5px 0 0 35.5px;

					.thumbnail-container {
						left: 1px;
					}
				}
			}

			&.uk-slidenav-previous {
				.preview-container {
					padding-left: 80px;
					border-radius: 0 35.5px 35.5px 0;
					-webkit-border-radius: 0 35.5px 35.5px 0;
					-moz-border-radius: 0 35.5px 35.5px 0;
					-ms-border-radius: 0 35.5px 35.5px 0;
					-o-border-radius: 0 35.5px 35.5px 0;

					.thumbnail-container {
						right: 1px;
					}
				}
			}

			&:hover, &:focus {
				.preview-container {
					background-color: rgba(0,0,0,0.8);
					.thumbnail-container {
						@include transform( scale(1) );
					}
				}
			}
		}
	}

	//Quote Post Format 
	&.skinny-ninjah-quote-format {
		.quote-content {
			font-size: 40px;
			font-weight: 100;
			letter-spacing: 0.03em;

			p {
				&::before, &::after {
					display: inline-block;
					position: relative;
					color: $color_primary;
				}
				&::before {
					content: '“';
				}
				&::after {
					content: '”';
				}
			}
		}
		.quote-author {
			color: $color_primary;
			font-size: 12px;
			letter-spacing: 0.06em;
		}
	}

	//Link Post Format
	&.skinny-ninjah-link-format {
		h1 {
			a {
				display: block;
			}
			.link-icon {
				display: block;
				color: $color_white;
				font-size: 30px;
				width: 60px;
				height: 50px;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				background-color: rgba(0,0,0,0.6);
				margin: 0 auto;
				line-height: 1em;
				padding-top: 10px;
			}
		}
	}

	//Aside Post Format
	&.skinny-ninjah-aside-format {
		.aside-container {
			background-color: rgba(0,0,0,0.075);
		}
		.aside-featured {
			width: 175px;
			height: 175px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			margin: 0 auto -20px;
		}
		
		.entry-excerpt {
			margin: 0;
		}

		.entry-footer {
			border-bottom: none;
			background-color: rgba(0,0,0,0.05);
			padding-right: 10px;
		}
	}
}