#primary-sidebar {
    .widget_recent_entries {
        ul {
            padding-left: 0;

            li {
                display: block;
                overflow: hidden;

                a.sidebar-title {
                    display: block;
                }
            }
        }
    }

    .widget {
        border-bottom: 1px solid $color__background-hr;
        border-left: 1px solid $color__background-hr;
        border-right: 1px solid $color__background-hr;

        &:last-child {
            border-bottom: none;
        }

        &.widget_search {
            padding-bottom: 30px;
        }

        h2.widget-title {
            font-size: 20px;
            background: $color_primary;
            padding: 10px;
            border-bottom: 3px solid $color__link;
        }

        .search-form {
            padding: 10px;

            label {
                width: 70%;
                float: left;

                .search-field {
                    width: 100%;
                }
            }
        }

        ul {
            padding-left: 10px;

            li {
                display: block;
            }
        }
    }

    .profile-picture {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      margin: auto;
    }

    h2.widget-title.skinny-ninjah-username {
      margin: 10px 0;
    }

    input.search-submit {
      line-height: 19px;
    }
}
