@import "./variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?esebnd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?esebnd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?esebnd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.skinny-ninjah-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skinny-ninjah-home3 {
  &:before {
    content: $skinny-ninjah-home3; 
  }
}
.skinny-ninjah-newspaper {
  &:before {
    content: $skinny-ninjah-newspaper; 
  }
}
.skinny-ninjah-images {
  &:before {
    content: $skinny-ninjah-images; 
  }
}
.skinny-ninjah-music {
  &:before {
    content: $skinny-ninjah-music; 
  }
}
.skinny-ninjah-play {
  &:before {
    content: $skinny-ninjah-play; 
  }
}
.skinny-ninjah-video-camera {
  &:before {
    content: $skinny-ninjah-video-camera; 
  }
}
.skinny-ninjah-bullhorn {
  &:before {
    content: $skinny-ninjah-bullhorn; 
  }
}
.skinny-ninjah-mic {
  &:before {
    content: $skinny-ninjah-mic; 
  }
}
.skinny-ninjah-folder {
  &:before {
    content: $skinny-ninjah-folder; 
  }
}
.skinny-ninjah-price-tag {
  &:before {
    content: $skinny-ninjah-price-tag; 
  }
}
.skinny-ninjah-cart {
  &:before {
    content: $skinny-ninjah-cart; 
  }
}
.skinny-ninjah-phone {
  &:before {
    content: $skinny-ninjah-phone; 
  }
}
.skinny-ninjah-envelop {
  &:before {
    content: $skinny-ninjah-envelop; 
  }
}
.skinny-ninjah-location {
  &:before {
    content: $skinny-ninjah-location; 
  }
}
.skinny-ninjah-alarm {
  &:before {
    content: $skinny-ninjah-alarm; 
  }
}
.skinny-ninjah-calendar {
  &:before {
    content: $skinny-ninjah-calendar; 
  }
}
.skinny-ninjah-mobile {
  &:before {
    content: $skinny-ninjah-mobile; 
  }
}
.skinny-ninjah-quotes-left {
  &:before {
    content: $skinny-ninjah-quotes-left; 
  }
}
.skinny-ninjah-quotes-right {
  &:before {
    content: $skinny-ninjah-quotes-right; 
  }
}
.skinny-ninjah-spinner6 {
  &:before {
    content: $skinny-ninjah-spinner6; 
  }
}
.skinny-ninjah-spinner9 {
  &:before {
    content: $skinny-ninjah-spinner9; 
  }
}
.skinny-ninjah-search {
  &:before {
    content: $skinny-ninjah-search; 
  }
}
.skinny-ninjah-zoom-in {
  &:before {
    content: $skinny-ninjah-zoom-in; 
  }
}
.skinny-ninjah-zoom-out {
  &:before {
    content: $skinny-ninjah-zoom-out; 
  }
}
.skinny-ninjah-lock {
  &:before {
    content: $skinny-ninjah-lock; 
  }
}
.skinny-ninjah-unlocked {
  &:before {
    content: $skinny-ninjah-unlocked; 
  }
}
.skinny-ninjah-stats-dots {
  &:before {
    content: $skinny-ninjah-stats-dots; 
  }
}
.skinny-ninjah-gift {
  &:before {
    content: $skinny-ninjah-gift; 
  }
}
.skinny-ninjah-glass {
  &:before {
    content: $skinny-ninjah-glass; 
  }
}
.skinny-ninjah-bin {
  &:before {
    content: $skinny-ninjah-bin; 
  }
}
.skinny-ninjah-eye {
  &:before {
    content: $skinny-ninjah-eye; 
  }
}
.skinny-ninjah-heart {
  &:before {
    content: $skinny-ninjah-heart; 
  }
}
.skinny-ninjah-wink {
  &:before {
    content: $skinny-ninjah-wink; 
  }
}
.skinny-ninjah-cool {
  &:before {
    content: $skinny-ninjah-cool; 
  }
}
.skinny-ninjah-checkmark {
  &:before {
    content: $skinny-ninjah-checkmark; 
  }
}
.skinny-ninjah-share2 {
  &:before {
    content: $skinny-ninjah-share2; 
  }
}
.skinny-ninjah-mail2 {
  &:before {
    content: $skinny-ninjah-mail2; 
  }
}
.skinny-ninjah-facebook2 {
  &:before {
    content: $skinny-ninjah-facebook2; 
  }
}
.skinny-ninjah-instagram {
  &:before {
    content: $skinny-ninjah-instagram; 
  }
}
.skinny-ninjah-whatsapp {
  &:before {
    content: $skinny-ninjah-whatsapp; 
  }
}
.skinny-ninjah-twitter {
  &:before {
    content: $skinny-ninjah-twitter; 
  }
}
.skinny-ninjah-youtube2 {
  &:before {
    content: $skinny-ninjah-youtube2; 
  }
}
.skinny-ninjah-dropbox {
  &:before {
    content: $skinny-ninjah-dropbox; 
  }
}
.skinny-ninjah-wordpress {
  &:before {
    content: $skinny-ninjah-wordpress; 
  }
}
.skinny-ninjah-appleinc {
  &:before {
    content: $skinny-ninjah-appleinc; 
  }
}
.skinny-ninjah-android {
  &:before {
    content: $skinny-ninjah-android; 
  }
}
.skinny-ninjah-windows8 {
  &:before {
    content: $skinny-ninjah-windows8; 
  }
}
.skinny-ninjah-skype {
  &:before {
    content: $skinny-ninjah-skype; 
  }
}
.skinny-ninjah-chrome {
  &:before {
    content: $skinny-ninjah-chrome; 
  }
}
.skinny-ninjah-IE {
  &:before {
    content: $skinny-ninjah-IE; 
  }
}
.skinny-ninjah-html-five2 {
  &:before {
    content: $skinny-ninjah-html-five2; 
  }
}
.skinny-ninjah-git {
  &:before {
    content: $skinny-ninjah-git; 
  }
}
.skinny-ninjah-link {
  &:before {
    content: $skinny-ninjah-link; 
  }
}
.skinny-ninjah-attachment {
  &:before {
    content: $skinny-ninjah-attachment; 
  }
}
.skinny-ninjah-bookmark {
  &:before {
    content: $skinny-ninjah-bookmark; 
  }
}
.skinny-ninjah-sad {
  &:before {
    content: $skinny-ninjah-sad; 
  }
}