$icomoon-font-family: "skinny-ninjah-icon" !default;
$icomoon-font-path: "../../fonts" !default;

$skinny-ninjah-home3: "\e902";
$skinny-ninjah-newspaper: "\e904";
$skinny-ninjah-images: "\e90e";
$skinny-ninjah-music: "\e911";
$skinny-ninjah-play: "\e912";
$skinny-ninjah-video-camera: "\e914";
$skinny-ninjah-bullhorn: "\e91a";
$skinny-ninjah-mic: "\e91e";
$skinny-ninjah-folder: "\e92f";
$skinny-ninjah-price-tag: "\e935";
$skinny-ninjah-cart: "\e93a";
$skinny-ninjah-phone: "\e942";
$skinny-ninjah-envelop: "\e945";
$skinny-ninjah-location: "\e947";
$skinny-ninjah-alarm: "\e950";
$skinny-ninjah-calendar: "\e953";
$skinny-ninjah-mobile: "\e958";
$skinny-ninjah-quotes-left: "\e977";
$skinny-ninjah-quotes-right: "\e978";
$skinny-ninjah-spinner6: "\e97f";
$skinny-ninjah-spinner9: "\e982";
$skinny-ninjah-search: "\e986";
$skinny-ninjah-zoom-in: "\e987";
$skinny-ninjah-zoom-out: "\e988";
$skinny-ninjah-lock: "\e98f";
$skinny-ninjah-unlocked: "\e990";
$skinny-ninjah-stats-dots: "\e99b";
$skinny-ninjah-gift: "\e99f";
$skinny-ninjah-glass: "\e9a0";
$skinny-ninjah-bin: "\e9ac";
$skinny-ninjah-eye: "\e9ce";
$skinny-ninjah-heart: "\e9da";
$skinny-ninjah-wink: "\e9e7";
$skinny-ninjah-cool: "\e9eb";
$skinny-ninjah-checkmark: "\ea10";
$skinny-ninjah-share2: "\ea82";
$skinny-ninjah-mail2: "\ea84";
$skinny-ninjah-facebook2: "\ea91";
$skinny-ninjah-instagram: "\ea92";
$skinny-ninjah-whatsapp: "\ea93";
$skinny-ninjah-twitter: "\ea96";
$skinny-ninjah-youtube2: "\ea9e";
$skinny-ninjah-dropbox: "\eaae";
$skinny-ninjah-wordpress: "\eab4";
$skinny-ninjah-appleinc: "\eabe";
$skinny-ninjah-android: "\eac0";
$skinny-ninjah-windows8: "\eac2";
$skinny-ninjah-skype: "\eac5";
$skinny-ninjah-chrome: "\ead9";
$skinny-ninjah-IE: "\eadb";
$skinny-ninjah-html-five2: "\eae5";
$skinny-ninjah-git: "\eae7";
$skinny-ninjah-link: "\e9cb";
$skinny-ninjah-attachment: "\e9cd";
$skinny-ninjah-bookmark: "\e9d2";
$skinny-ninjah-sad: "\e9e5";