.dropdown-cart-button {
    width: auto !important;
    border: 0 !important;
    background: none !important;
    padding: 0;

    .dropdown {
        right: -20px;
        width: 315px;

        .cart_list a.remove {
            display: block !important;
            width: 30px;
            border: 1px solid $color_primary;
            border-radius: 100%;
            text-align: center;
            margin-right: 5px;
        }

        .total {
            text-align: left !important;
            float: left !important;
        }

        .cart_list {
            font-size: 12px;
            padding: 0 !important;

            li {
                max-width: 100%;
                margin: 0;
                width: 100%;

                .quantity {
                    float: right;
                    width: 22%;
                    line-height: 1;
                }

                img {
                    width: 40px;
                    margin-right: 4px;
                    float: left;
                }
            }

            .variation {
                width: auto;
            }
        }
    }

    .dropdown-total {
        background: none !important;
        padding-right: 5px;
        padding-left: 5px;
        border: 1px solid $color_primary;
        color: $color_primary;
        font-size: 11px;
        text-decoration: none;

        &::before {
            content: "\f07a";
            font-family: FontAwesome;
            color: $color_primary;
            padding: 0 5px 0 0;
            font-size: 18px;
        }
    }

    .dropdown.dropdown-left {
        left: -180px !important
    }
}

.woocommerce a.remove:hover {
    background: $color_primary;
}

.widget_shopping_mini_cart_content:hover .dropdown-cart-button .dropdown {
    display: block !important
}