.skinny-ninjah-load-more {
    text-transform: capitalize;
    opacity: 0.5;
    @include animate( opacity, 320ms );

    &:hover,
    &:focus,
    &.loading {
        opacity: 1;
    }

    &.loading {
        cursor: default;
    }
    
    span {
        display: inherit;
    }

    .spin {
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}


.skinny-ninjah-posts-container {
    article {
        @include animate(all, 320ms);
        @include transform(translateY(50px));
        opacity: 0;

        &.reveal {
            @include transform(translateY(0));
            opacity: 1;
        }
    }
}